#header h1{
	background-image: url(../images/bg.jpg);
	background-size: auto;
	background-attachment: fixed;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}
#header img{
	margin-right: 10px;
}
#header{
	padding: 20px;
}
#trivia.col{
	margin-top: 80px;
}
.container img{
	margin-right: 20px;
}
.container h2{
	color: #ECB913;
}