<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<meta charset="UTF-8">
	<base href="/">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
	<title>Map Game!</title>
</head>
<body onload="document.myform.text.focus();">
	<div class="container-flex row justify-content-between" id="header">
			<a href="https://github.com/eelcaz/map-game-full" target="_blank">
				<img src="../static/images/GitHub-Mark.png" alt="" width="50px" height="50px">
			</a>
			<h1>Hey! Can you guess which state it is?</h1>
			<a href="https://goo.gl/maps/hHtf7W3L8BqWgovd8" target="_blank">
				<img src="../static/images/us-flag-icon.png" alt="" width="50px" height="30px">
			</a>
	</div>
	<div class="container-flex">
		<div class="row justify-content-center">
			<div class="col ">
				<img src="{{ map_image }}" alt="Map Image">
				<br>
				<div class="container row justify-content-around">
					<h2>Score: {{curr_score}}</h2>
					<form method="POST" name="myform3">
						<button type="submit" name="RestartGame" class="btn btn-light d-flex ">Restart quiz</button>
					</form>
					<form method="POST" name="myform3">
						<button type="submit" name="TakeSurvey" class="btn btn-light d-flex ">Take our survey!</button>
					</form>
				</div>
			</div>
			<div class="col" id="trivia">
				<div class="container">
					<form method="POST" name="myform">
						<div class="form-group">
							<label><h5>{{ trivia_question }}</h5></label>
							<input name="text" class="form-control col-md-6" placeholder='Enter the state name here'>
						</div>
						<div class="container row">
							<button type="submit" name="AnswerRequest" class="btn btn-primary d-flex mr-5">Submit answer</button><br>
							<form method="POST" name="myform2">
								<button type="submit" name="SkipRequest" class="btn btn-light d-flex ">Skip this question</button>
							</form>
						</div>
					</form>
					
					<br>
					<div class="container row">
						<img width="30px" height="35px" src="../static/images/bell.png"/><br>
						<p>{{feedback_message}}</p>
					</div>
					<br>
					<div id="accordion">
						<div class="card">
							<div class="card-header" id="headingOne">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
									States remaining
								</button>
							</div>
					  
							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								<table class="table table-bordered">
									{%for row in tbl%}
									<tr>
									{%for col in row%}
									<td>{{col}}</td>
									{%endfor%}
									</tr>
									{%endfor%}
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
