<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<meta charset="UTF-8">
	<base href="/">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
	<title>Map Game!</title>
</head>
<body onload="document.myform.text.focus();">
	<div class="row justify-content-center" id="header">
		<h1>Hey! Can you guess which state it is?</h1>
	</div>
	<div class="container-flex">
		<div class="row justify-content-center">
			<div class="col ">
				<img src="{{ map_image }}" alt="Map Image" width="800px">
			</div>
			<div class="col" id="trivia">
				<div class="container">
					<form method="POST" name="myform">
						<div class="form-group">
						<label><h5>{{ trivia_question }}</h5></label>
						<input name="text" class="form-control col-md-6" placeholder='Enter the state name here'>
						</div>
						<button type="submit" name="AnswerRequest" class="btn btn-primary d-flex ">Submit answer</button><br>
					</form>
					<form method="POST" name="myform2">
						<button type="submit" name="SkipRequest" class="btn btn-light d-flex ">Skip this question</button>
					</form>
					<br>
					<img style='display:block; width:40px;height:40px;' id='base64image' src="../static/images/bell.png"/>
					<p>{{feedback_message}}</p>
					<form method="POST" name="myform3">
						<button type="submit" name="RestartGame" class="btn btn-light d-flex ">Restart</button>
					</form>
					<form method="POST" name="myform3">
						<button type="submit" name="TakeSurvey" class="btn btn-light d-flex ">Take our survey!</button>
					</form>
					<table>
 					 {%for row in tbl%}
     					<tr>
        				{%for col in row%}
          				<td>{{col}}</td>
        				{%endfor%}
     					</tr>
  					{%endfor%}
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
